<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="sp.bvantur.inspektify.ktor.ApplicationContextInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity android:name="sp.bvantur.inspektify.ktor.InspektifyActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:taskAffinity="sp.bvantur.inspektify.android.task"/>
    </application>

</manifest>